<!doctype html>

	<html class="no-js" lang="{{ request.locale.iso_code }}">

	<head>

		<meta charset="utf-8">

		<title>{{ shop.name }}</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

		<meta property="og:title" content="{{ shop.name }}">
		<meta property="og:description" content="{{ page_description | escape }}">
		<meta property="og:image" content="">
		<meta property="og:url" content="{{ canonical_url }}">
		<meta property="og:locale" content="{{ shop.locale }}" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="{{ shop.name }}" />
		<meta name="twitter:card" content="">

		<meta name="google-site-verification" content="" />
		<meta name="facebook-domain-verification" content="" />
		<meta name="p:domain_verify" content="" />

		<script>document.documentElement.classList.replace('no-js', 'js');</script>

		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">		
		<link rel="shortcut icon" type="image/png" href="{{ 'favicon.ico' | asset_url }}" />

		{% liquid
			render 'dochead-script-preload'
			render 'dochead-style-sheets'

			echo content_for_header
		%}

	</head>

	<body>

		{% liquid
			if request.path == '/challenge'
				render 'challenge-container', content: content_for_layout
			else
				echo content_for_layout
			endif

			render 'body-script-bundles'
		%}

	</body>

</html>
