<!doctype html>

	<html class="no-js" lang="{{ request.locale.iso_code }}">

	<head>

		<meta charset="utf-8">

		<!-- * * * * * * * * * * * * * * * * * * 
		Name: shopify-theme-esbuild
		Version: 0.0.4
		Date: 30/09/2025
		Web & Shopify Development: Rich Kelly <rich@richkelly.uk> (http://richkelly.uk)
		* * * * * * * * * * * * * * * * * * * * -->

		<title>{% render 'dochead-meta-title' %}</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="{{ page_description | strip_html }}" />

		<meta property="og:title" content="{% render 'dochead-meta-title' %}">
		<meta property="og:description" content="{{ page_description | strip_html }}">
		<meta property="og:image" content="{{ page_image | image_url: width: 500 }}">
		<meta property="og:url" content="{{ canonical_url }}">
		<meta property="og:locale" content="{{ shop.locale }}" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="{{ shop.name }}" />

		{% render 'dochead-google-structured-data' %}

		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

		<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}" />
		<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}" />
		<link rel="icon" type="image/png" sizes="512x512" href="{{ 'android-chrome-512x512.png' | asset_url }}" />
		<link rel="icon" type="image/png" sizes="192x192" href="{{ 'android-chrome-192x192.png' | asset_url }}" />
		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ 'apple-touch-icon-180x180.png' | asset_url }}" />
		<link rel="icon" type="image/png" sizes="180x180" href="{{ 'favicon.png' | asset_url }}" />
		<link rel="shortcut icon" type="image/png" href="{{ 'favicon.ico' | asset_url }}" />

		<script>document.documentElement.classList.replace('no-js', 'js');</script>

		{% liquid
			render 'dochead-script-preload'
			render 'dochead-style-sheets'
		%}

		{{ content_for_header }}

		{% unless shop.domain == 'eagleandhodges.com' %}
		<style>#shopify-pc__banner { display: none !important; }</style>
		{% endunless %}

	</head>

	<body>

		{% render 'header' %}

		<main class="main">

			{% liquid
				if request.path == '/challenge'
					render 'challenge-container', content: content_for_layout
				else
					echo content_for_layout
				endif
			%}

		</main>

		{% liquid
			render 'footer'
			render 'body-script-bundles'
		%}

		<script>Shopify.moneyformat = "{{shop.money_format}}";</script>

	</body>

</html>